{% extends 'base.html' %}

{% load i18n %}

{% load crispy_forms_tags %}


{% block title %}Password Change{% endblock %}

{% block content %}
    <h1>{% trans "Password change" %}</h1>
    <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-success" type="submit" value="{% trans "Change my password" %}">
    </form>
{% endblock %}
